on:
  release:
    types: [created]
jobs:
  test:
    strategy:
      matrix:
        os: [macos, ubuntu, windows]
        node-version: 16
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install-ci-test

  npm-publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com
          scope: '@casamagalhaes'    
      - run: npm --no-git-tag-version version $TAG
        env:
            TAG: ${{ github.event.release.tag_name }}              
      - run: npm ci && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
